<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'wordle/valik.css' %}">
        <title>Pealeht</title>
    </head>
    <body style="background-image: url({% static 'wordle/taustapilt.jpeg' %});">
    <div class="block">
    <h2>Eestikeelne wordle</h2>
    <form action="{%url "algus"%}" method="POST">
        {% csrf_token %}
        <div class="item"><input class="link" type="submit" id="vali" name="submit" value="Alusta või vali mäng"></div>
        <b>Vali mäng id-ga:</b>
        <div class="tooltip">
            <input type="number" id="mangu_id" name="mangu_id" value="" autocomplete="off" autofocus="True">
            <span class="tooltiptext">Jäta tühjaks, et alustada uut mängu</span>
        </div>
        <div class="item">{{request.session.viga.0}}</div>
    </form>
    </div>
    <div class="block">
        <h2>Füüsikaülesannete lahendajad</h2>
        <a class="link" href="{%url "pallivise"%}">Palliviske simulaator</a>
        <a class="link" href="{%url "autoavarii"%}">Autoavarii simulaator</a>
    </div>
</body>
</html>