.Row,
.Row-letter,
.Row-letter-input {
    display: flex;
    justify-content: center
}

.Row-letter {
    align-items: center;
    border: 2px solid #dee1e9;
    font-size: 28px;
    font-weight: 700;
    height: 56px;
    margin: 3px;
    text-transform: uppercase;
    width: 56px;
    border-radius: 5px;
    color: #393e4c;
    background: white;
}

.Row-letter-input {
    text-align: center;
    align-items: center;
    border: 2px solid #dee1e9;
    font-size: 28px;
    font-weight: 700;
    height: 56px;
    margin: 3px;
    text-transform: uppercase;
    width: 56px;
    border-radius: 5px;
    color: #393e4c;
    background: white;
}

.Row-letter.selected, input.focused {
    border-color: #a7adc0
}

html.dark .Row-letter {
    color: #fff;
    background: #191a24;
    border: 2px solid #414458
}

html.dark .Row-letter.selected {
    border-color: #7b7f98
}

sup {
    top: -1.5em;
    width: 0;
    font-size: 11px
}

input {
    text-align: center;
}

form {
    margin-left: auto;
    margin-right: auto;
}

#submit {
    width: auto !important;
    margin-top: 10px;
    margin-bottom: 10px;
}

html {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
a {
padding: 6px;
border: 1px solid black;
border-radius: 5px;            
}
a:hover {
    background-color: aqua;
}